* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    font-size: calc(0.625rem + 0.4vw);
}

.icon{
    filter: invert(1);
    padding-left: .2rem;
    padding-right: .5rem;
    align-self: center;
}

a p {
    align-self: center;
    justify-self: start;
    border: 2px solid transparent;
}

#container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    row-gap: 50px;
    column-gap: 10px;
    padding: 10px;
}

#header{
    display: grid;
}

#sidebar{
    position: relative;
    display: grid;
    grid-row: 1/3;
    background-color: #03a9f4;
    font-size: 1.3rem;
    padding-top: 20px;
}

#sidebar div {
    display: grid;
    align-items: center;
}

#sidebar a:first-child{
    font-size: 1.5rem;
}

#dash{
    transform: scale(2);
    padding-right: .3rem;
}

#sidebar a:nth-child(7), #sidebar a:first-child{
    /* margin-bottom: 6vh; */
    margin-bottom: 50px;
}

#sidebar a:last-child{
    /* margin-bottom: 35vh; */
    margin-bottom: 250px;
}

a {
    text-decoration: none;
    color: white;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 1fr 3fr; */
    column-gap: 3px;
    margin-left: 1rem;
    width: min-content;
}

img:hover + p{
    border-bottom: 2px solid white;
}

a p:hover{
    border-bottom: 2px solid white;
}


#mainContent {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
    background-color: #cedbff;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    grid-column: 1/2;
    position: relative;
    padding: 10px;
}

.title, .pTitle, .sTitle {
    font-weight: bolder;
}

.pTitle {
    position: absolute;
    top: -25px;
}

#projects p, .pTitle, .sTitle {
    font-size: 1.1rem;
    font-family: sans-serif;
    text-align: left;
}
  
#projects .card, #announcements, #trending {
    background-color: #ffffff;
    color: black;
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
    display: grid;
    /* height: fit-content; */
}
  
.card p {
    color: black;
    font-weight: normal;
    font-size: 1rem;
}
  
.card .title {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bolder;
    /* padding-bottom: 10px; */
}

.misc {
    display: flex;
    justify-content: end;
    align-self: flex-end;
}

#side {
    display: grid;
    gap: 50px;
    padding: 10px;
}

#announcements, #trending {
    position: relative;
    display: grid;
    text-align: left;
    gap: 1rem;
}

.sTitle {
    position: absolute;
    top: -35px;
}

#announcements div:nth-child(3){
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.item p:first-child{
    font-weight: bold;
}

.handle{
    font-weight: bold;
}
.info{
    color: gray;
}

#container, #header, #mainContent, #side, #sidebar, #projects, #announcements, #trending {
    border: 1px solid black;
}